<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doable</title>
    <link rel="stylesheet" href="../stylesheets/doable.css">
  </head>
  <body>
    <div class = 'app-container'>
      <div class = "app-header flex">
        <div>
          <img class = "logo" src="../images/{ doable }.svg" alt="doable :)">
        </div>
        <div class = "logout">
          <img class = "logout-logo" src="../images/logout.svg" alt="logout">
        </div>
      </div>
      <div class = "app-content">
        <div class = "app-form">
          <form class = "mb-16" id = "app-form">
            <p>Email</p>
            <input class = "user-form-input" type="text" name = "email">
            <p>Password</p>
            <input class = "user-form-input" type="password" name = "password">
          </form>
          <div class = "flex-column g-16">
            <button class = "button-submit" type = "submit" form="app-form">Login</button>
            <a href="#">Create an account</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
